<% if(!user) { %>
  <a class='button' href="/register">
    REGISTER
  </a>
  <a class='button' href="/login">
    LOGIN
  </a>
  <% }else {%>
    <form action="/logout" method="POST" id="logout"></form>
      <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
    </form>
<% } %>